.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono";
}

.hero {
  padding: 30px;
  border-radius: 10px;
  margin-top: 1em;
  align-items: center;
  max-width: 650px;
  background: #f4f5f6;
}
.hero p {
  font-size: 0.9em;
}

.Results {
  max-width: 650px;
}
.Results .smallbtn {
  font-size: 0.8em;
  padding: 6px;
  font-family: "IBM Plex Mono";
}

.panel {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.Results canvas {
  width: 100%;
  height: auto;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.8em;
}

.twitter-color {
  background: #5093d4;
}

.hero .btn {
  font-size: 1em;
  min-width: 50%;
  font-family: "IBM Plex Mono";
}
.hero input {
  background: white;
  font-size: 1em;
  font-family: "IBM Plex Mono";
}
.hero button {
  font-size: 1em;
}
.hero msg {
  margin: 1em;
}

button:disabled {
  background-color: #cfd0d4;
  cursor: not-allowed;
}

footer {
  align-self: flex-end;
}

a {
  color: #1da1f2;
}

.error {
  color: brown;
}
